In [1]:
import pandas as pd 
import numpy as np

* What are Data Frames?
* What is Data Series?
* Different operations in Pandas

In [3]:
#Initial look at dataframe

#dataframe args ==> data, index(rows), columns

df = pd.DataFrame(np.arange(0,20).reshape(5,4),index = ['Row1','Row2','Row3','Row4','Row5'],columns = ['Column1','Column2','Column3','Column4'])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
df.to_csv('SeeAsWe.csv')

In [6]:
##Accessing the elements
## 1. .loc 2. .iloc

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [7]:
#Check the type

type(df.loc['Row1'])

pandas.core.series.Series

In [8]:
#iloc[:,:] function ==> [row_Start:row_finish,column_start:column_finish]
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [10]:
df.iloc[1:,1:]

      Column2  Column3  Column4
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [11]:
type(df.iloc[1:,1:])

pandas.core.frame.DataFrame

In [12]:
df.iloc[0:2,0]

Row1    0
Row2    4
Name: Column1, dtype: int32

In [13]:
type(df.iloc[0:2,0])

pandas.core.series.Series

In [14]:
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [15]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [16]:
df.iloc[:,1:].values.shape

(5, 3)

In [17]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [18]:
df['Column1'].value_counts()

0     1
8     1
4     1
16    1
12    1
Name: Column1, dtype: int64

In [19]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [20]:
df[['Column3','Column4']]

      Column3  Column4
Row1        2        3
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19